*{
    margin: 0;
    padding: 0;
}
/* color style */
.dark-2{
    
    
}
/* nav styles */
.navber{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 51.5px ;
    height: 151px;
    width:  1140px;
    margin: 0 150px;

}
.nav-title{
    width: 99px;
    height: 51px;
    font-size: 34px;
    color: #4E47FF;
}
/* style btn */
.style-btn{
    
    background-color: #4E47FF;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;

}
.nav-btn{
    width:  132px;
    height: 48px;
}
/* font-style */


.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* head style */
.header{
    background-image: url(../Assets/Hero-bg.png);
    height: 728px;
    width: 100%;
}

/* banner */
.banner{
    margin: 158px 267.5px 152px ;
    width: 905px;
    height: 237px;
    text-align: center;
}

.head-content{
    font-size: 65px;
    color: #252432;
    font-weight: bold;
    

    
}
.head-btn{
    margin: 37px 365.5px  0px;
    width: 174px;
    height: 48px;
}
